<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Brighter Planet</string>
	<key>CFBundleDisplayName</key>
	<string>Careplane</string>
	<key>CFBundleIdentifier</key>
	<string>com.brighterplanet.careplane</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
  <string>0.6.3</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>1048576</real>
		<key>Global Page</key>
		<string>background.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
        
        <string>src/lib/jquery-1.5.2.min.js</string>
        <string>src/Preferences.js</string>
        <string>src/Util.js</string>
        <string>src/Tracker.js</string>
        <string>src/Driver.js</string>
        <string>src/HallOfFame.js</string>
        <string>src/Flight.js</string>
        <string>src/Trip.js</string>
        <string>src/TripEvents.js</string>
        <string>src/AverageTrip.js</string>
        <string>src/AirTrafficController.js</string>
        <string>src/controllers/TripController.js</string>
        <string>src/drivers/Hipmunk.js</string>
        <string>src/drivers/Hipmunk/HipmunkFlight.js</string>
        <string>src/drivers/Hipmunk/HipmunkTrip.js</string>
        <string>src/drivers/Hipmunk/HipmunkAirTrafficController.js</string>
        <string>src/drivers/Hipmunk/HipmunkTripController.js</string>
        <string>src/drivers/Kayak.js</string>
        <string>src/drivers/Kayak/KayakFlight.js</string>
        <string>src/drivers/Kayak/KayakTrip.js</string>
        <string>src/drivers/Kayak/KayakAirTrafficController.js</string>
        <string>src/drivers/Orbitz.js</string>
        <string>src/drivers/Orbitz/OrbitzFlight.js</string>
        <string>src/drivers/Orbitz/OrbitzTrip.js</string>
        <string>src/drivers/Orbitz/OrbitzAirTrafficController.js</string>
        <string>src/views/TripInfoView.js</string>
        <string>src/views/TripFootprintView.js</string>
        <string>src/views/Orbitz/OrbitzTripFootprintView.js</string>
        <string>src/views/Orbitz/OrbitzTripInfoView.js</string>
        <string>src/views/Kayak/KayakTripFootprintView.js</string>
        <string>src/views/Kayak/KayakTripInfoView.js</string>
        <string>src/views/Hipmunk/HipmunkTripFootprintView.js</string>
        <string>src/views/Hipmunk/HipmunkTripInfoView.js</string>
        <string>src/views/Hipmunk/HipmunkTripEmbeddedInfoView.js</string>
        <string>src/Careplane.js</string>
        <string>src/ExtensionLoader.js</string>
        <string>SafariPreferences.js</string>
        <string>SafariExtension.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>stylesheets/careplane.css</string>
		</array>
		<key>Whitelist</key>
		<array>
			<string>http://www.hipmunk.com/results*</string>
			<string>http://hipmunk.com/results*</string>
			<string>http://www.kayak.com/</string>
      <string>http://www.orbitz.com/App/ViewFlightSearchResults*</string>
			<string>http://orbitz.com/App/ViewFlightSearchResults*</string>
		</array>
    <key>Blacklist</key>
    <array />
	</dict>
	<key>Description</key>
	<string>Real-time carbon footprints inserted into your favorite travel search sites</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>hipmunk.com</string>
				<string>www.hipmunk.com</string>
				<string>kayak.com</string>
				<string>www.kayak.com</string>
				<string>orbitz.com</string>
				<string>www.orbitz.com</string>
			</array>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://careplane.org</string>
</dict>
</plist>
