<html>
<head><title>Careplane Options</title></head>
<style>
  li { list-style-type: none; }
</style>
<script type="text/javascript">
function save_options() {
  var checkboxes = document.getElementsByTagName('input');
  for(var i = 0; i < checkboxes.length; i++) {
    var checkbox = checkboxes[i];
    localStorage['sites.' + checkbox.value] = checkbox.checked;
  }

  var status = document.getElementById('status');
  status.innerHTML = 'Options Saved.';
  setTimeout(function() {
    status.innerHTML = "";
  }, 750);
}

function restore_options() {
  var checkboxes = document.getElementsByTagName('input');
  for (var i = 0; i < checkboxes.length; i++) {
    var checkbox = checkboxes[i];
    var key = 'sites.' + checkbox.value;
    var storedPreference = localStorage[key];
    if(storedPreference == null) {
      storedPreference = localStorage[key] = 'true';
    }
    checkbox.checked = storedPreference == 'true';
  }
}
</script>

<body onload="restore_options()">
  <p id="status" style="color: red; background: #FF9;"></p>

  Choose the travel sites that Careplane will add carbon intelligence to:
  <ul>
    <% CareplaneConfig.drivers.each do |driver| %>
      <li>
        <input id="<%= driver.underscore %>" type="checkbox" name="sites" value="<%= driver %>">
        <label for="<%= driver.underscore %>"><%= (driver == 'KayakUK' ? 'Kayak (UK)' : driver) %></label>
      </li>
    <% end %>
  </ul>

  <br>
  <button onclick="save_options()">Save</button>
</body>
</html>
