*~
_site
Gemfile.lock
firefox*/build
firefox*/chrome/content/images
firefox*/chrome/content/lib
firefox*/chrome/content/src
firefox*/chrome/content/stylesheets
firefox/data
firefox/lib
google_chrome/build
google_chrome/images
google_chrome/src
google_chrome/stylesheets
google_chrome/application.js
safari/build
safari/careplane.safariextension/images
safari/careplane.safariextension/lib
safari/careplane.safariextension/src
safari/careplane.safariextension/stylesheets
safari/careplane.safariextension/Worker.js
pages

google_chrome/CareplaneTrackerService.js
google_chrome/GoogleChromePreferences.js
google_chrome/Worker.js
safari/careplane.safariextension/CareplaneTrackerService.js
safari/careplane.safariextension/SafariPreferences.js

*.pyc

bin
