*~
_site
Gemfile.lock
firefox*/build
firefox*/chrome/content/images
firefox*/chrome/content/lib
firefox*/chrome/content/src
firefox*/chrome/content/stylesheets
google_chrome/build
google_chrome/images
google_chrome/src
google_chrome/stylesheets
google_chrome/application.js
safari/build
safari/careplane.safariextension/images
safari/careplane.safariextension/lib
safari/careplane.safariextension/src
safari/careplane.safariextension/stylesheets
pages

*.pyc
