*~
*application.js
_site
Gemfile.lock
firefox*/build
firefox*/chrome/content/images
firefox*/chrome/content/lib
firefox*/chrome/content/src
firefox*/chrome/content/stylesheets
firefox/data
!firefox/data/icon*
!firefox/data/widget.js
firefox/lib
firefox/package.json
google_chrome/background.js
google_chrome/build
google_chrome/hipmunk-spy.js
google_chrome/images
google_chrome/src
google_chrome/stylesheets
google_chrome/manifest.json
safari/build
safari/careplane.safariextension/images
safari/careplane.safariextension/background.js
safari/careplane.safariextension/hipmunk-spy.js
safari/careplane.safariextension/Info.plist
safari/careplane.safariextension/CareplaneTrackerService.js
safari/careplane.safariextension/Worker.js
safari/careplane.safariextension/stylesheets
pages

google_chrome/CareplaneTrackerService.js
google_chrome/GoogleChromePreferences.js
google_chrome/Worker.js
safari/careplane.safariextension/CareplaneTrackerService.js
safari/careplane.safariextension/SafariPreferences.js

spec/helpers/browserify.js

*.pyc

bin
/node_modules
