@font-face { font-family: "Brighter Planet"; src: url("http://brighterplanet.com/stylesheets/fonts/KievitWebPro.eot"); src: local("☺"), url("http://brighterplanet.com/stylesheets/fonts/KievitWebPro.woff") format("woff"), url("http://brighterplanet.com/stylesheets/fonts/KievitOT-Regular.otf") format("opentype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "Brighter Planet"; src: url("http://brighterplanet.com/stylesheets/fonts/KievitWebPro-Bold.eot"); src: local("☺"), url("http://brighterplanet.com/stylesheets/fonts/KievitWebPro-Bold.woff") format("woff"), url("http://brighterplanet.com/stylesheets/fonts/KievitOT-Bold.otf") format("opentype"); font-weight: bold; font-style: normal; }
@font-face { font-family: "Brighter Planet"; src: url("http://brighterplanet.com/stylesheets/fonts/KievitWebPro-Ita.eot"); src: local("☺"), url("http://brighterplanet.com/stylesheets/fonts/KievitWebPro-Ita.woff") format("woff"), url("http://brighterplanet.com/stylesheets/fonts/KievitOT-Ita.otf") format("opentype"); font-weight: normal; font-style: italic; }
@font-face { font-family: "Brighter Planet"; src: url("http://brighterplanet.com/stylesheets/fonts/KievitWebPro-BoldIta.eot"); src: local("☺"), url("http://brighterplanet.com/stylesheets/fonts/KievitWebPro-BoldIta.woff") format("woff"), url("http://brighterplanet.com/stylesheets/fonts/KievitOT-BoldIta.otf") format("opentype"); font-weight: bold; font-style: italic; }

body {
  font-family: "Brighter Planet", sans-serif;
  background: #EDF7F9 url(images/clouds.png) repeat-x;
}

body.welcome {
  padding-top: 50px;
}

header, article {
  width: 972px;
  margin: 0 auto;
  overflow: hidden;
}

header {
  height: 480px;
  margin-top: 20px;
  padding-top: 5px;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

header div {
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  background: url(images/header.png) no-repeat;
  height: 480px;
  margin: 0 auto;
  width: 960px;
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  border-left: 1px solid #86C0CE;
  border-right: 1px solid #86C0CE;
  position: relative;
}

header h1, header h2 {
  display: none;
}

header p.browser {
  width: 340px;
  position: absolute; 
  top: 380px;
  left: 600px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border-top: 1px solid rgba(255,255,255,0.5);
  -moz-box-shadow: 0 2px 1px rgba(0,0,0,0.3), 0 0 5px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.3), 0 0 5px rgba(0,0,0,0.1);
  box-shadow: 0 2px 1px rgba(0,0,0,0.3), 0 0 5px rgba(0,0,0,0.1);
}

header p.available {
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(222,69,69)),
      color-stop(1, rgb(240,125,79))
  );
  background-image: -moz-linear-gradient(
      center bottom,
      rgb(222,69,69) 0%,
      rgb(240,125,79) 100%
  );
}

header p.unavailable {
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(186,186,186)),
      color-stop(1, rgb(222,222,222))
  );
  background-image: -moz-linear-gradient(
      center bottom,
      rgb(186,186,186) 0%,
      rgb(222,222,222) 100%
  );
}

header p.available a {
  display: block;
  padding: 15px 20px 15px 85px;
  text-decoration: none;
}

header p.available a:hover {
  background-color: rgba(0,0,0,0.03);
}

header p.unavailable span {
  padding: 15px 20px;
  display: block;
}

header p.firefox a {
  background-image: url(images/firefox.png);
  background-repeat: no-repeat;
  background-position: 15px 60%;
}

header p.chrome a {
  background-image: url(images/chrome.png);
  background-repeat: no-repeat;
  background-position: 15px 60%;
}

header p.available a .major {
  color: #F7DBC4;
  font-size: 22px;
  display: block;
  text-shadow: 0 -1px 0 rgba(255,255,255,0.2), 0 1px 0 rgba(0,0,0,0.1);
  font-weight: bold;
}

header p.available a .major span {
  color: #F7DBC4;
  font-size: 14px;
  text-shadow: 0 -1px 0 rgba(255,255,255,0.2), 0 1px 0 rgba(0,0,0,0.1);
  font-weight: normal;
}

header p.available a .minor {
  color: #A32626;
  font-size: 14px;
  text-shadow: 0 1px 0 rgba(255,255,255,0.1);
}

header p.unavailable .major {
  padding-bottom: 0;
  font-size: 13px;
}

header p.unavailable .minor {
  padding-top: 0;
  font-size: 11px;
}

header p.attribution {
  position: absolute;
  top: 339px;
  left: 137px;
  width: 127px;
}

header p.attribution a {
  display: block;
  height: 68px;
}

header p.attribution a span {
  display: none;
}

article>div {
  margin: 0 auto;
  width: 960px;
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  border-left: 1px solid #86C0CE;
  border-right: 1px solid #86C0CE;
  position: relative;
}

#description {
  background: #1a2d56;
  text-shadow: 0 1px 0 rgba(0,0,0,0.7);
  height: 310px;
}

body.welcome #description {
  height: 140px;
}

#description h1 {
  padding: 25px 20px 0 600px;
  font-size: 21px;
  color: #BBDCE6;
  margin: 0 0 20px;
}

#description p {
  color: #89b1bd;
  font-size: 16px;
  padding: 0 20px 0 600px;
  margin: 0 0 10px;
}

#description ul.sites {
  overflow: auto;
  margin: 0 0 0 600px;
  position: absolute;
  bottom: 25px;
  list-style: none;
}

#description ul.sites li {
  float: left;
  width: 160px;
  margin: 0 15px 0 0;
}

#description ul.sites li.hipmunk {
  width: 335px;
  margin-bottom: 10px;
}

#description ul.sites li:last-child {
  margin-right: 0;
}

#description ul.sites li a {
  display: block;
  height: 41px;
  background-repeat: no-repeat;
  background-position: center center;
  text-decoration: none;
  text-indent: -9999px;
}

#description ul.sites li.kayak a { background-image: url(images/kayak.png) }
#description ul.sites li.orbitz a { background-image: url(images/orbitz.png) }
#description ul.sites li.hipmunk a { background-image: url(images/hipmunk.png) }

#screencast {
  position: absolute;
  top: 460px;
  left: 50%;
  margin: 0 0 0 -482px;
  background: url(images/screenshot.png) no-repeat;
  width: 600px;
  height: 355px;
}

ul#sites {
  position: absolute;
  top: 510px;
  left: 50%;
  margin: 0 0 0 -480px;
  width: 930px;
  height: 355px;
  list-style: none;
  padding: 0 15px;
}

ul#sites li {
  float: left;
  width: 310px;
}

ul#sites li.kayak { background-image: url(images/sites/kayak.png); }
ul#sites li.orbitz { background-image: url(images/sites/orbitz.png); }
ul#sites li.hipmunk { background-image: url(images/sites/hipmunk.png); }

ul#sites li a {
  display: block;
  height: 185px;
}

ul#sites li a span {
  display: none;
}

ul#sites li a:hover span {
  position: absolute;
  display: block;
  width: 310px;
  margin: -70px 0 0;
  text-align: center;
  font-size: 48px;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
}

footer {
  background: #010b1f;
  border-top: 1px solid #BBDCE6;
  overflow: auto;
  padding: 30px 0 0;
}

footer>div {
  width: 960px;
  margin: 0 auto;
  padding: 0 0 50px;
}

footer h1 {
  display: none;
}

footer ul.questions {
  width: 550px;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0 0 0 15px;
}

footer ul.questions li {
  margin: 0 0 30px;
}

footer ul.questions li h2 {
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 5px;
  color: #3c568f;
  text-shadow: 0 1px 0 rgba(0,0,0,0.9);
}

footer ul.questions li>p {
  font-size: 15px;
  color: #8897b9;
  line-height: 1.5;
}

footer ul.details {
  list-style: none;
  float: left;
  width: 300px;
  margin: 0 0 0 35px;
  font-size: 13px;
  text-shadow: 0 1px 0 rgba(0,0,0,0.5);
}

footer ul.details li {
  margin: 0 0 20px;
}

footer ul.details li h2 {
  color: #354e83;
  font-weight: normal;
  font-size: 15px;
  margin: 0 0 5px;
}

footer ul.details li p {
  color: #3c568f;
}

footer ul.details li.original {
  background: url(images/original.png) no-repeat;
  padding: 0 0 0 120px;
  min-height: 50px;
}

.brighter_planet_cm1_badge {
}

#original {
  margin: 30px 0 0;
}

#thanks {
  text-align: center;
  font-size: 18px;
  margin: 25px 0;
  color: #1A2D56;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
