.careplane-footprint {
  color: #AAA;
}
.kayak .careplane-footprint {
  position: absolute;
  left: 10px;
  width: 130px;
  bottom: 20px;
}
.orbitz .careplane-footprint {
  background-color: #FFF,
  margin: 0,
  padding: 7px 15px
}


.careplane-info {
  display: none;
}


.careplane-attribution .orbitz {
  padding-left: 4px;
  padding-bottom: 0;
}


.careplane-attribution-footer .orbitz {
  clear: both;
  margin-top: 5px;
}

.careplane-methodologies {
  display: none;
}
