<!DOCTYPE html>
<html>
<head>
  <title>Careplane: real-time carbon footprints inserted into your favorite travel search sites</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/html5.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/application.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/syntax.css" />
  <script type="text/javascript" src="javascript/jquery-1.5.min.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <meta charset="utf-8">
</head>
<body>
  <script type="text/javascript">
  //<![CDATA[
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1667526-26']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    });
  //]]>
  </script>
  <header>
    <div>
      <h1>Careplane</h1>
      <h2>Real-time carbon footprints inserted into your favorite travel search sites</h2>
      <p class="firefox available" style="display: none;">
        <a href="https://addons.mozilla.org/en-US/firefox/addon/careplane/">
          <span class="major">Install Careplane</span>
          <span class="minor"><strong>Free</strong> Firefox plugin, 22KB</span>
        </a>
      </p>
      <p class="other unavailable" style="display: none;">
        <span class="major">Sadly, Careplane isn't available for your browser</span>
        <span class="minor">We're working on a plugin&mdash;in the meantime, why not <a href="http://firefox.com">give Firefox a try</a>?</span>
      </p>
    </div>
  </header>
  <article>
    <div>
      <div id="description">
        <h1>Careplane inserts carbon footprints into your favorite travel search sites</h1>
        <p>Trying to choose between several flights at the same price? Careplane lets you pick the greenest option, with no additional cost.</o>
        <ul class="sites">
          <li class="kayak"><a href="http://kayak.com">Kayak</a></li>
          <li class="orbitz"><a href="http://orbitz.com">Kayak</a></li>
        </ul>
      </div>
    </div>
  </article>
  <footer>
    <div>
      <h1>Q&amp;A</h1>
      <ul class="questions">
        <li>
          <h2>How does Careplane work?</h2>
          <p>Whenever your browser lands on a search results page from a supported travel site (Kayak, Orbitz, etc.), Careplane is activated. The plugin scans your results page, extracts flight information, and submits these details to <a href="http://carbon.brighterplanet.com">Brighter Planet CM1</a>, a carbon calculation web service. When the calculations are complete, Careplane inserts them into your results page unobtrusively, allowing you to consider environmental impact as your compare your options.</p>
        </li>
        <li>
          <h2>Why should I care?</h2>
          <p>Because climate change is affecting all of us! We don't expect anybody to spend twice as much to take a green flight. But more often than not, going green is only $1 or so away&mdash;sometimes it's even cheaper. Careplane uses a sophisticated calculation methodology that considers more than a dozen factors, including aircraft type and projected passenger load. Bottom line: it's better to <i>know</i> than not, right?</p>
        </li>
        <li>
          <script type="text/javascript" src="http://carbon.brighterplanet.com/badge.js"></script>
        </li>
      </ul>
      <ul class="details">
        <li>
          <h2>What's next?</h2>
          <p>We're busy adding additional travel sites to Careplane, including Expedia, Travelocity, and Hipmunk. In addition, we're working on packaging Careplane up for use in Google Chrome and Apple's Safari browser. Stay tuned to Brighter Planet's blog <a href="http://numbers.brighterplanet.com">Safety in Numbers</a> for updates.</p>
        </li>
        <li>
          <h2>How can I help?</h2>
          <p>Everybody can help by installing Careplane&mdash;it doesn't get in the way, and only kicks into gear when you visit a travel search site. Even when activated, it mostly stays out of the way, inserting carbon information discreetly into your favorite travel search interfaces. <strong>Developers</strong> are enthusiastically welcomed to join the effort. Careplane has a pretty well-organized codebase; adding a driver for an additional travel search site is mostly a matter of defining decent screen-scraping rules. Check out our <a href="http://github.com/brighterplanet/careplane">GitHub repo</a> for details.</p>
        </li>
        <li class="original">
          <a href="#original">Looking for the original Careplane concept video?</a>
        </li>
      </ul>
      <p id="original" style="display: none;">
        <object type="application/x-shockwave-flash" data="http://banjo.brighterplanet.com/andy/careplane.swf" width="1024" height="768">
            <param name="movie" value="http://banjo.brighterplanet.com/andy/careplane.swf" />
        </object>
      </p>
    </div>
  </footer>
  <div id="screencast"></div>
  <script type="text/javascript">
  function showInstallButton() {
    if ($.browser.mozilla) $('header .firefox').show();
    else $('header .other').show();
  }
  $(document).ready(showInstallButton);
  $(document).ready(function() { $('ul.details li.original a').click(function() { $('#original').show();}); });
  </script>
</body>
</html>
